$basefontraw: 16;
$maxwidthraw: 1312;
$basefont: $basefontraw * 1px;
$maxwidthpx: $maxwidthraw * 1px;
$max-width: ($maxwidthraw/$basefontraw) * 1rem;
$logo-width: 5rem;
$logo-height: 3rem;
$focus-width: 3px;

$mobile-breakpoint: 870px;

// colors
$nyplyellow: #FEE24A;
$nyplorange: #ffb81d;
$nyplred: #ed1c24;
$nypldarkgreen: #437529;
$nypllightgreen: lighten($nypldarkgreen, 20%);
$nyplblue: #1DA1D4;
$nyplbluedark: #1980a9;
$nyplsearchcolor: $nyplblue;
$nyplsearchcolordark: $nyplbluedark;
$nyplsearchcolorlight: lighten(#1DA1D4, 30%);
$nyplgray: #7B756F;
$nypldarkgray: darken($nyplgray, 40%);
$nypllightgray: lighten($nyplgray, 40%);
$focuscolor: $nyplorange;
$pagecolor: $nypldarkgray;
$pagecolorlight: $nypllightgray;
$pagetextcolor: $nypldarkgray;
$footercolor: #54514A;
$highlightcolor: $nyplbluedark;

// link colors
$linkcolor: $nyplred;
$linkvisitedcolor: darken($linkcolor, 20%);
$linkhovercolor: lighten($linkcolor, 10%);
$invertedlinkcolor: white;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%);

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}