@import "variables";
@import "nypl-moon";

html {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: $basefont;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  // -webkit-filter: grayscale(1);

  @media screen and (max-width: $maxwidthpx) {
    font-size: calc(#{$basefont} * 0.8);
  }

}

body {
  // @include Kievit-Book;
  color: $pagetextcolor;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

@each $tag in a, input, select {
  #{$tag} {
    border-radius: 0;
  }

  #{$tag}:focus {
    outline-color: $focuscolor;
    outline-style: solid;
    outline-width: $focus-width;
  }
}

a {
  // border-bottom: 1px solid $linkcolor;
  // text-decoration: none;

  &:link {
    color: $linkcolor;
  }

  &:visited {
    // border-bottom-color: $linkvisitedcolor;
    color: $linkvisitedcolor;
  }

  &:hover, &:visited:hover {
    // border-bottom-color: $linkcolor;
    color: $linkhovercolor;
  }
}

a.inverted {
  // border-bottom: 1px solid $invertedlinkcolor;
  // text-decoration: none;

  &:link {
    color: $invertedlinkcolor;
  }

  &:visited {
    // border-bottom-color: $invertedlinkvisitedcolor;
    color: $invertedlinkvisitedcolor;
  }

  &:hover, &:visited:hover {
    // border-bottom-color: $invertedlinkcolor;
    color: $invertedlinkcolor;
  }
}

.content-wrapper {
  // border: 1px solid;
  margin: 0 auto;
  max-width: calc(#{$max-width} - 1rem - (#{$logo-width} + 1rem));
  padding: 1rem 1rem 1rem ($logo-width + 1rem);
  @include clearfix;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-left: 1rem;
  }
}

.horizontal {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;

  @media screen and (max-width: $mobile-breakpoint) {
    float: none;
  }

  li {
    float: left;
    margin-right: 0.35em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu {
  display: none;

  @media screen and (max-width: $mobile-breakpoint) {
    background-color: $nyplred;
    color: white !important;
    display: block;
    margin: 0 -1rem;
    padding-right: 1rem;
    text-align: right;
    text-decoration: none;
  }
}

.logo {
  float: left;
  width: $logo-width;

  @media screen and (max-width: $mobile-breakpoint) {
    float: none;
    margin-right: 0.5rem;
  }
}

.nypl-logo {
  // NOTE: has redundant rules to show different logo options
  background: url("../img/lion.svg") no-repeat scroll 0px 0px/#{$logo-height} auto white;
  background: url("../img/nypl-symmetry.svg") no-repeat scroll 0px 0px/#{$logo-width} auto white;
  background: url("../img/nypl.svg") no-repeat scroll 0px 0px/#{$logo-width} auto white;
  border: none;
  display: block;
  height: calc(#{$logo-height} - 0.5rem);
  height: $logo-height;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  text-indent: ($logo-width * 2);
  white-space: nowrap;
  width: $logo-height;
  width: $logo-width;

  @media screen and (max-width: $mobile-breakpoint) {
    // background-image: url("../img/lion.svg");
    // background-size: 3rem;
    // height: 3rem;
    margin-right: 0.5rem;
    // width: 3rem;
  }
}

header {

  .content-wrapper {
    max-width: calc(#{$max-width} - 2rem);
    padding: 0 1rem;

    @media screen and (max-width: $mobile-breakpoint) {
      margin: 0;
    }
  }

  .content {
    @include clearfix;

    @media screen and (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }

  .service {
    background-color: $nyplred;

    @media screen and (max-width: $mobile-breakpoint) {
      display: table-footer-group;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: table;
    width: 100%;
  }
}

.service-buttons {
  font-size: 0.8rem;
  padding: 0;
  text-transform: uppercase;

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
    padding-top: 5px;
    width: 100%;

    li {
      border-bottom: 1px solid white;
      float: left;
      line-height: 2rem;
      margin: 0 0 5px 0;
      width: 50%;
    }
  }

  li > a {
    border: none;
    color: white;
    display: block;
    font-weight: bold;
    padding: 0 0.5em;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;

    &:hover, &.active {
      background-color: white;
      color: $linkcolor;
    }

    &.donate {
      background-color: white;
      color: $nyplred;
    }

    &.donate:hover {
      background-color: white;
    }

    &.collapsible:after {
      display: inline-block;
      font-size: 0.85em;
      font-weight: bold;
      margin-left: 0.5em;
    }
  }
}

.login-toggle, .email-toggle {
  position: relative;

  a:after {
    transition: all 0.2s;
  }

  a.active:after {
    transform: scaleY(-1);
  }
}

//TODO: there must be a class that means “blue background”

.login-toggle {
  div {
    background-color: $nyplsearchcolor;
    color: white;
    font-size: 1rem;
    position: absolute;
    padding: 1rem;
    padding-bottom: 0;
    left: 0;
    text-transform: none;
    z-index: 1;
  }

  a.inverted {
    display: block;
    margin-bottom: 1em;
    white-space: nowrap;
  }
}

.email-toggle {
  form {
    background-color: $nyplsearchcolor;
    color: white;
    font-size: 1rem;
    min-width: 17rem;
    position: absolute;
    padding: 1rem;
    right: 0;
    text-transform: none;
    z-index: 1;
  }

  h4 {
    line-height: 1.5;
    margin: 0;
  }

  fieldset {
    border: none;
    margin: 1em 0;
    padding: 0;
  }

  label {
    display: block;
  }
}

.nav-buttons {
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin-top: calc(#{$logo-height} - 1.5rem);
  @include clearfix;

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
    font-size: 1.2rem;

    li {
      border-bottom: 1px solid $nypllightgray;
      float: left;
      line-height: 2rem;
      margin: 0 0 5px 0;
      width: 50%;
    }

    li.search {
      border: none;
      width: 100%;
    }
  }

  a {
    border: none;
    color: $pagecolor;
    display: block;
    padding: 0.2em 0.4em 0;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $linkcolor;
    }

  }

  li:hover, li.active {
    box-shadow: inset 0 -4px 0 $linkcolor;
  }

}

.hidden {
  display: none;
}

input {
  background-color: $nyplsearchcolorlight;
  border: none;
  padding: 0;
}

input[type=button], input[type=submit] {
  background-color: $nyplsearchcolordark;
  color: white;
  height: 2rem;
  padding: 0 1rem;
}


input[type=radio], input[type=checkbox] {
  height: initial;
  margin-right: 0.25rem;
}

.form-text {
  height: 2rem;
  margin-right: 1px;
  padding: 0;
  text-indent: 0.5rem;
  transition: all 0.2s ease-out;
  width: 10rem;

  &.active {
    width: 16rem;
  }

  &:focus {
    background-color: white;
    box-shadow: inset 0 0 0 4px $focuscolor;
    color: $nyplsearchcolor;
    outline: none;
  }
}

#main-search {
  background-color: $nyplsearchcolor;
  margin: 0;
  position: relative;

  &.display {
    display: block;
  }

  .search-query-content {
    position: relative;
  }

  .search-select {
    background-color: $nyplsearchcolor;
    font-size: 0.9rem;
    left: 0;
    position: absolute;
    top: 2rem;
  }

  .search-radio-label {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1px;
    padding: 0 0.75rem 0 0.5rem;

    &.selected {
      background-color: $nyplsearchcolorlight;
    }

    &.focus {
      box-shadow: inset 0 0 0 3px $focuscolor;
    }

    input:focus {
      outline: none;
    }

  }

  .search-query-label {
    color: white;
    height: 2rem;
    left: 0.5rem;
    line-height: 2rem;
    position: absolute;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .form-text, .search-button, .search-radio-label {
      height: 2.5rem;
      line-height: 2.5rem;
    }

    .form-text {
      margin: 0;
      width: 70%;
    }

    .search-button {
      margin: 0;
      width: 30%;
    }

    .search-select {
      top: 2.5rem;
    }
  }

}

.page-header {
  background-color: $pagecolorlight;

  h1 {
    margin: 0;
  }
}

.split-page {
}

.pane {
  float: left;
  width: 25%;

  @media screen and (max-width: $mobile-breakpoint) {
    float: none;
    width: auto;
  }

  label {
    font-weight: bold;
  }

  label.group {
    background-color: $nyplsearchcolorlight;
    font-weight: normal;
    padding: 3px 5px;
    // margin-bottom: 5px;
  }
}

.pane.filters {
  .inner-wrapper {
    padding-right: 2em;

    @media screen and (max-width: $mobile-breakpoint) {
      padding-right: 0;
    }
  }

  fieldset {
    border: none;
    margin: 0 0 1rem;
    padding: 0;
  }

  label {
    display: block;
  }

  input[type=text] {
    width: 100%;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 98% 50% $nyplsearchcolorlight;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    height: 2rem;
    padding-right: 7%;
    text-indent: 0.5rem;
    width: 100%;
  }

  .a-z a, .a-z span {
    color: $pagecolor;
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    width: 1em;
  }

  .a-z a {
    background-color: $nyplsearchcolorlight;
  }

  .a-z span {
    background-color: $nypllightgray;
  }

  .a-z span.long {
    // because “any” has different lengths in different langs
    min-width: calc(2em + 14px);
  }
}

.secondary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.75rem;
  }
}

.main-content {
  float: left;
  width: 75%;

  @media screen and (max-width: $mobile-breakpoint) {
    float: none;
    width: auto;
  }
}

section.secondary {
  margin-bottom: 1.5rem;

  h2 {
    margin: 0;
  }
}

.results-summary {
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  @include clearfix;

  .results-count {
    display: inline-block;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }

  .facet {
  }

  .facet-remove {
    color: $nyplgray;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: super;
  }
}

.results-pagination {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  @include clearfix;

  .page-count, .previous, .next {
    display: block;
    float: left;
    text-decoration: none;
    width: 35%;
    @include clearfix;
  }

  .page-count {
    text-align: center;
    width: 30%;
  }

  .arrow:after {
    font-size: 3rem;
    line-height: 0.9;
  }

  .previous .arrow:after {
    float: left;
  }

  .next .arrow:after {
    float: right;
  }

  .next {
    text-align: right;
  }
}

table.views-table {
  border-collapse: collapse;

  thead th {
    border-bottom: 1px solid $pagecolor;
    text-align: left;
  }

  th.event-time {
    width: 20%;
  }

  th.event-title {
    width: 40%;
  }

  th.event-location {
    width: 20%;
  }

  th.event-audience {
    width: 20%;
  }

  th.resource-availability {
    width: 25%;
  }

  th.resouce-description {
    width: 65%;
  }

  tr {
    border-bottom: 1px solid $nypllightgray;
  }

  td {
    border-bottom: 1px solid $nypllightgray;
    padding: 0.5rem 0.5rem 3rem 0;
    vertical-align: top;
  }

  .channel-title {
    color: $highlightcolor;
    text-transform: uppercase;
  }

  .signup-method {
    color: $highlightcolor;
  }

  .resource-title {
    font-weight: bold;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    thead {
      display: none;
    }

    td {
      display: block;
      float: left;
      margin: 0;
      padding: 1rem 0 1rem 0;
    }

    tr:first-child {
      border-top: 1px solid $nypllightgray;
    }

    .event-time, .event-audience, .event-title {
      border: none;
      display: block;
    }

    .event-time {
      width: 20%;
    }

    .event-title, .event-location, .event-audience {
      width: 30%;
    }

    .event-title {
      margin-right: 5%;
      width: 45%;
    }

    .resource-availability {
      width: 25%;
    }

    .resouce-description {
      width: 65%;
    }
  }

}

footer {
  background-color: $footercolor;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  // @include Kievit-Bold;
}

footer ul {
  list-style: none;
  margin: 1rem 0 1rem 0;
  padding: 0;
  @include clearfix;
}

.copyright {
  background: url("../img/nypl-rev.svg") no-repeat scroll 0px 0px/#{$logo-width} auto transparent;
  border: none;
  display: block;
  height: $logo-height;
  margin-top: 2rem;
  margin-bottom: 5rem;
  white-space: nowrap;

  p {
    padding-top: calc(#{$logo-height} + 1em);
  }
}

.footerLinks {

  > li {
    float: left;
    width: 25%;

    @media screen and (max-width: $mobile-breakpoint) {
      float: none;
      width: auto;
    }
  }
}
