@import "variables";
@import "nypl-moon";

html {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,freesans,sans-serif;
  font-size: $basefont;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

body {
  @include Kievit-Book;
  color: $pagetextcolor;
}

a {
  border-bottom: 1px solid $linkcolor;
  text-decoration: none;

  &:hover, &:visited:hover {
    border-bottom-color: $linkcolor;
    color: $linkcolor;
  }

  &:link {
    color: $linkcolor;
  }

  &:visited {
    border-bottom-color: $linkvisitedcolor;
    color: $linkvisitedcolor;
  }
}

.content-wrapper {
  // border: 1px solid;
  margin: 0 auto;
  max-width: calc(#{$max-width} - 1rem - (#{$logo-width} + 1rem));
  padding: 1rem 1rem 1rem ($logo-width + 1rem);
}

ul.horizontal {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 0.35em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nypl-logo {
  background: url("../img/nypl.svg") no-repeat scroll 0px 0px/#{$logo-width} auto white;
  border: none;
  display: block;
  height: $logo-height;
  overflow: hidden;
  text-indent: ($logo-width * 2);
  white-space: nowrap;
  width: $logo-width;
}

header {
  border-bottom: 1px solid $nypllightgray;
  border-top: 2px solid $nyplred;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: calc(#{$max-width} - 2rem);
    padding: 0 1rem;
  }

  .logo {
    margin-top: 1rem;
  }

  .content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .service-buttons {
    // background-color: $nypllightgray;
    font-size: 0.8rem;
    padding: 0;// 0.25em;
    text-transform: uppercase;

    a {
      border: none;
      color: $nypldarkgray;
      display: inline-block;
      padding: 0 0.5em;
      position: relative;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        color: $linkcolor;
      }

      &.donate {
        background-color: $nyplred;
        color: white;
      }

      &.donate:hover {
        background-color: $nypldarkgray;
        color: $linkcolor;
      }

      &.collapsible:after {
        display: inline-block;
        font-size: 0.85em;
        margin-left: 0.5em;
      }
    }
  }

  .nav-buttons {
    font-size: 1.1rem;
    // font-weight: bold;

    a {
      border: none;
      color: $nypldarkgray;
      display: inline-block;
      padding: 0.2em 0.4em;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        color: $linkcolor;
      }
    }
  }
}

select.styled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  color: $nypldarkgray;
  height: 2rem;
  padding: 0 1.5rem 0 0.5rem;
  width: 110%;
}

.main-search {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  position: relative;
  // width: 15rem;

  .search-query-content {
    position: relative;
  }

  .search-radio {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.75rem 0 0.5rem;

    &.selected {
      background: $nyplsearchcolorlight;
    }
  }

  input[type="radio"] {
    margin-right: 0.25rem;
  }

  .search-select {
    font-size: 0.9rem;
  }

  input {
    border: none;
    color: white;
    padding: 0;
  }

  .search-query-text {
    background-color: $nyplsearchcolor;
    height: 2rem;
    padding: 0 0.5rem;
    width: 20rem;

    &:focus {
      background-color: white;
      box-shadow: inset 0 0 0 0.1em $nyplsearchcolordark, 0 0 0 0.15em $nyplsearchcolordark;
      color: $nyplsearchcolordark;
      outline: none;
    }
  }

  input[type="button"], input[type="submit"] {
    background-color: $nyplsearchcolordark;
    height: 2rem;
    width: 3rem;
  }
}

.page-header {
  // background-color: $pagecolorlight;

  h1 {
    font-size: 2.6rem;
    margin: 0;
  }
}