@import "variables";
@import "nypl-moon";

html {
  background-color: #fff;
  font-family: -apple-system, "Helvetica Neue",Helvetica,Arial,freesans,sans-serif;
  font-size: $basefont;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  // -webkit-filter: grayscale(100%);
}

body {
  @include Kievit-Book;
  color: $pagetextcolor;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

@each $tag in a, input {
  #{$tag}:focus {
    outline-color: $focuscolor;
    outline-style: solid;
    outline-width: $focus-width;
  }
}

a {
  // border-bottom: 1px solid $linkcolor;
  // text-decoration: none;

  &:link {
    color: $linkcolor;
  }

  &:visited {
    // border-bottom-color: $linkvisitedcolor;
    color: $linkvisitedcolor;
  }

  &:hover, &:visited:hover {
    // border-bottom-color: $linkcolor;
    color: $linkhovercolor;
  }
}

a.inverted {
  // border-bottom: 1px solid $invertedlinkcolor;
  text-decoration: none;

  &:link {
    color: $invertedlinkcolor;
  }

  &:visited {
    // border-bottom-color: $invertedlinkvisitedcolor;
    color: $invertedlinkvisitedcolor;
  }

  &:hover, &:visited:hover {
    // border-bottom-color: $invertedlinkcolor;
    color: $invertedlinkcolor;
  }
}

.content-wrapper {
  // border: 1px solid;
  margin: 0 auto;
  max-width: calc(#{$max-width} - 1rem - (#{$logo-width} + 1rem));
  padding: 1rem 1rem 1rem ($logo-width + 1rem);
}

ul.horizontal {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 0.35em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nypl-logo {
  background: url("../img/nypl.svg") no-repeat scroll 0px 0px/#{$logo-width} auto white;
  border: none;
  display: block;
  height: $logo-height;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  text-indent: ($logo-width * 2);
  white-space: nowrap;
  width: $logo-width;
}

header {
  // border-bottom: 1px solid $nypllightgray;
  // border-top: 2px solid $nyplred;

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: calc(#{$max-width} - 2rem);
    padding: 0 1rem;
  }

  .content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
  }

  .service {
    background-color: $nyplred;
  }

  .service .content-wrapper {
    justify-content: flex-end;
  }
}

.service-buttons {
  // background-color: $nypllightgray;
  font-size: 0.8rem;
  padding: 0;// 0.25em;
  text-transform: uppercase;

  li > a {
    border: none;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0 0.5em;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;

    &:hover, &.active {
      background-color: white;
      color: $linkcolor;
    }

    &.donate {
      background-color: white;
      color: $nyplred;
    }

    &.donate:hover {
      background-color: white;
      // color: $linkcolor;
    }

    &.collapsible:after {
      display: inline-block;
      font-size: 0.85em;
      font-weight: bold;
      margin-left: 0.5em;
    }
  }
}

.login-toggle, .email-toggle {
  position: relative;

  a:after {
    transition: all 0.2s;
  }

  a.active:after {
    transform: scaleY(-1);
  }
}

//TODO: there must be a class that means “blue background”

.login-toggle {
  div {
    background-color: $nyplsearchcolor;
    color: white;
    font-size: 1rem;
    position: absolute;
    padding: 1rem;
    padding-bottom: 0;
    left: 0;
    text-transform: none;
    z-index: 1;
  }

  a.inverted {
    display: block;
    margin-bottom: 1em;
    white-space: nowrap;
  }
}

.email-toggle {
  form {
    background-color: $nyplsearchcolor;
    color: white;
    font-size: 1rem;
    position: absolute;
    padding: 1rem;
    right: 0;
    text-transform: none;
    z-index: 1;
  }

  h4 {
    line-height: 1.5;
    margin: 0;
  }

  fieldset {
    border: none;
    margin: 1em 0;
    padding: 0;
  }
}

.nav-buttons {
  font-size: 1.1rem;
  line-height: 1.7rem;

  a {
    border: none;
    color: $nypldarkgray;
    display: inline-block;
    padding: 0.2em 0.4em 0;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $linkcolor;
    }

  }

  li.active {
    box-shadow: inset 0 -4px 0 $linkcolor;
  }

}

.hidden {
  display: none !important;
}

select.styled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  color: $nypldarkgray;
  height: 2rem;
  padding: 0 1.5rem 0 0.5rem;
  width: 110%;
}

input {
  border: none;
  color: white;
  padding: 0;
}

input[type=button], input[type=submit] {
  background-color: $nyplsearchcolordark;
  height: 2rem;
  padding: 0 1rem;
}

.form-text {
  background-color: $nyplsearchcolorlight;
  color: $nyplsearchcolor;
  height: 2rem;
  margin-right: 1px;
  padding: 0 0.5rem;
  transition: all 0.2s ease-out;
  width: 10rem;

  &.active {
    color: white;
    width: 16rem;
  }

  &:focus {
    background-color: white;
    box-shadow: inset 0 0 0 4px $focuscolor;
    color: $nyplsearchcolor;
    outline: none;
  }
}

#main-search {
  background-color: $nyplsearchcolor;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  &.display {
    display: flex;
  }

  .search-query-content {
    position: relative;
  }

  .search-select {
    background-color: $nyplsearchcolor;
    font-size: 0.9rem;
    left: 0;
    position: absolute;
    top: 2rem;
  }

  .search-radio-label {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0 0.75rem 0 0.5rem;

    &.selected {
      background-color: $nyplsearchcolorlight;
    }

    &.focus {
      box-shadow: inset 0 0 0 3px $focuscolor;
    }
  }

  input[type=radio] {
    margin-right: 0.25rem;

    &:focus {
      outline: none;
    }
  }

  .search-query-label {
    color: white;
    height: 2rem;
    left: 0.5rem;
    line-height: 2rem;
    position: absolute;
  }

}

.page-header {
  background-color: $pagecolorlight;

  h1 {
    margin: 0;
  }
}

.split-page {
  display: flex;
}

.pane {
  flex-grow: 1;
}

.secondary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.75rem;
  }
}

.main-content {
  flex-grow: 3;
}