/* FONT FACE MIXIN
 * ---------------
 * Usage: @include font-face('Kievit-Regular', 'http://...');
 * Desc: Do not include the font file extension, this mixin
 * will generate the proper extensions.
*/
/* KIEVIT */
/* Kievit Light */
@font-face {
  font-family: Kievit-Light;
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.eot");
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.eot?#iefix") format("embedded-opentype"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.woff") format("woff"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.ttf") format("truetype"); }
/* Kievit Book */
@font-face {
  font-family: Kievit-Book;
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.eot");
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.eot?#iefix") format("embedded-opentype"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.woff") format("woff"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.ttf") format("truetype"); }
/* Kievit Book Italic */
@font-face {
  font-family: Kievit-Book-Italic;
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.eot");
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.eot?#iefix") format("embedded-opentype"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.woff") format("woff"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.ttf") format("truetype"); }
/* Kievit Medium */
@font-face {
  font-family: Kievit-Medium;
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.eot");
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.eot?#iefix") format("embedded-opentype"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.woff") format("woff"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.ttf") format("truetype"); }
/* Kievit Meduim Italic */
@font-face {
  font-family: Kievit-Medium-Italic;
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.eot");
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.eot?#iefix") format("embedded-opentype"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.woff") format("woff"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.ttf") format("truetype"); }
/* Kievit Bold */
@font-face {
  font-family: Kievit-Bold;
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.eot");
  src: url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.eot?#iefix") format("embedded-opentype"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.woff") format("woff"), url("//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.ttf") format("truetype"); }
/* KIEVIT Small Caps */
/* KIEVIT INCLUDES */
@font-face {
  font-family: nypl-moon;
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85");
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85#iefix") format("embedded-opentype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff2?viik85") format("woff2"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.ttf?viik85") format("truetype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff?viik85") format("woff"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.svg?viik85#nypl-moon") format("svg");
  font-weight: 400;
  font-style: normal; }
[class*=" nypl-icon-"]:after, [class^=nypl-icon-]:after {
  font-family: nypl-moon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.nypl-icon-arrow-meganav-large:after {
  content: "\E801"; }

.nypl-icon-arrow-meganav:after {
  content: "\E800"; }

.nypl-icon-card:after {
  content: "\E623"; }

.nypl-icon-book:after {
  content: "\E624"; }

.nypl-icon-play-large:after {
  content: "\E625"; }

.nypl-icon-play-med:after {
  content: "\E626"; }

.nypl-icon-play-small:after {
  content: "\E603"; }

.nypl-icon-headphones:after {
  content: "\E627"; }

.nypl-icon-solo-x:after {
  content: "\E611"; }

.nypl-icon-mail:after {
  content: "\E61C"; }

.nypl-icon-login:after {
  content: "\E61D"; }

.nypl-icon-logo-mark:after {
  content: "\E61E"; }

.nypl-icon-logo-type:after {
  content: "\E61F"; }

.nypl-icon-locator-no-dot:after {
  content: "\E620"; }

.nypl-icon-locator-small:after {
  content: "\E616"; }

.nypl-icon-locator-large:after {
  content: "\E615"; }

.nypl-icon-burger-nav:after {
  content: "\E614"; }

.nypl-icon-wedge-right:after {
  content: "\E621"; }

.nypl-icon-wedge-left:after {
  content: "\E622"; }

.nypl-icon-wedge-down:after {
  content: "\E600"; }

.nypl-icon-wedge-up:after {
  content: "\E601"; }

.nypl-icon-magnifier-thin:after {
  content: "\E617"; }

.nypl-icon-magnifier-fat:after {
  content: "\E609"; }

.nypl-icon-magnifier-circle:after {
  content: "\E602"; }

.nypl-icon-facebook-circle:after {
  content: "\E62E"; }

.nypl-icon-facebook-circle-large:after {
  content: "\E62C"; }

.nypl-icon-facebook-circle-hover:after {
  content: "\E630"; }

.nypl-icon-twitter-circle:after {
  content: "\E62F"; }

.nypl-icon-twitter-circle-large:after {
  content: "\E62D"; }

.nypl-icon-twitter-circle-hover:after {
  content: "\E631"; }

.nypl-icon-facebook:after {
  content: "\E604"; }

.nypl-icon-twitter:after {
  content: "\E605"; }

.nypl-icon-tumblr:after {
  content: "\E606"; }

.nypl-icon-instagram:after {
  content: "\E618"; }

.nypl-icon-soundcloud:after {
  content: "\E619"; }

.nypl-icon-itunes:after {
  content: "\E61A"; }

.nypl-icon-youtube:after {
  content: "\E61B"; }

.nypl-icon-bldg:after {
  content: "\E607"; }

.nypl-icon-equals-small:after {
  content: "\E608"; }

.nypl-icon-arrow-up:after {
  content: "\E60A"; }

.nypl-icon-arrow-down:after {
  content: "\E629"; }

.nypl-icon-arrow-left:after {
  content: "\E62A"; }

.nypl-icon-arrow-right:after {
  content: "\E62B"; }

.nypl-icon-circle-arrow-left:after {
  content: "\E60B"; }

.nypl-icon-circle-arrow-right:after {
  content: "\E60C"; }

.nypl-icon-circle-wedge-left:after {
  content: "\E60D"; }

.nypl-icon-circle-wedge-right:after {
  content: "\E60E"; }

.nypl-icon-circle-more:after {
  content: "\E60F"; }

.nypl-icon-more-dots:after {
  content: "\E610"; }

.nypl-icon-circle-x:after {
  content: "\E612"; }

.nypl-icon-circle-check:after {
  content: "\E613"; }

.nypl-icon-check-solo:after {
  content: "\E628"; }

html {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased; }

body {
  color: #100f0e; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.5rem;
  margin-top: 0; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem; }

a:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 3px; }

input:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 3px; }

a:link {
  color: #ed1c24; }
a:visited {
  color: #970c11; }
a:hover, a:visited:hover {
  color: #f14b52; }

a.inverted:link {
  color: white; }
a.inverted:visited {
  color: #e6e6e6; }
a.inverted:hover, a.inverted:visited:hover {
  color: white; }

.content-wrapper {
  margin: 0 auto;
  max-width: calc(82rem - 1rem - (5rem + 1rem));
  padding: 1rem 1rem 1rem 6rem; }

ul.horizontal {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.horizontal li {
    margin-right: 0.35em; }
    ul.horizontal li:last-child {
      margin-right: 0; }

.nypl-logo {
  background: url("../img/nypl.svg") no-repeat scroll 0px 0px/5rem auto white;
  border: none;
  display: block;
  height: 3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  text-indent: 10rem;
  white-space: nowrap;
  width: 5rem; }

header .content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: calc(82rem - 2rem);
  padding: 0 1rem; }
header .content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end; }
header .service {
  background-color: #ed1c24; }
header .service .content-wrapper {
  justify-content: flex-end; }

.service-buttons {
  font-size: 0.8rem;
  padding: 0;
  text-transform: uppercase; }
  .service-buttons li > a {
    border: none;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0 0.5em;
    position: relative;
    text-decoration: none;
    transition: all 0.2s; }
    .service-buttons li > a:hover, .service-buttons li > a.active {
      background-color: white;
      color: #ed1c24; }
    .service-buttons li > a.donate {
      background-color: white;
      color: #ed1c24; }
    .service-buttons li > a.donate:hover {
      background-color: white; }
    .service-buttons li > a.collapsible:after {
      display: inline-block;
      font-size: 0.85em;
      font-weight: bold;
      margin-left: 0.5em; }

.login-toggle, .email-toggle {
  position: relative; }
  .login-toggle a:after, .email-toggle a:after {
    transition: all 0.2s; }
  .login-toggle a.active:after, .email-toggle a.active:after {
    transform: scaleY(-1); }

.login-toggle div {
  background-color: #1DA1D4;
  color: white;
  font-size: 1rem;
  position: absolute;
  padding: 1rem;
  padding-bottom: 0;
  left: 0;
  text-transform: none;
  z-index: 1; }
.login-toggle a.inverted {
  display: block;
  margin-bottom: 1em;
  white-space: nowrap; }

.email-toggle form {
  background-color: #1DA1D4;
  color: white;
  font-size: 1rem;
  min-width: 17rem;
  position: absolute;
  padding: 1rem;
  right: 0;
  text-transform: none;
  z-index: 1; }
.email-toggle h4 {
  line-height: 1.5;
  margin: 0; }
.email-toggle fieldset {
  border: none;
  margin: 1em 0;
  padding: 0; }
.email-toggle label {
  display: block; }

.nav-buttons {
  font-size: 1.1rem;
  line-height: 1.7rem; }
  .nav-buttons a {
    border: none;
    color: #100f0e;
    display: inline-block;
    padding: 0.2em 0.4em 0;
    text-decoration: none;
    transition: all 0.2s; }
    .nav-buttons a:hover {
      color: #ed1c24; }
  .nav-buttons li:hover, .nav-buttons li.active {
    box-shadow: inset 0 -4px 0 #ed1c24; }

.hidden {
  display: none !important; }

select.styled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  color: #100f0e;
  height: 2rem;
  padding: 0 1.5rem 0 0.5rem;
  width: 110%; }

input {
  background-color: #6cc8eb;
  border: none;
  color: white;
  padding: 0; }

input[type=button], input[type=submit] {
  background-color: #1980a9;
  height: 2rem;
  padding: 0 1rem; }

input[type=radio], input[type=checkbox] {
  height: initial;
  margin-right: 0.25rem; }

.form-text {
  height: 2rem;
  margin-right: 1px;
  padding: 0;
  text-indent: 0.5rem;
  transition: all 0.2s ease-out;
  width: 10rem; }
  .form-text.active {
    color: white;
    width: 16rem; }
  .form-text:focus {
    background-color: white;
    box-shadow: inset 0 0 0 4px #ffb81d;
    color: #1DA1D4;
    outline: none; }

#main-search {
  background-color: #1DA1D4;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative; }
  #main-search.display {
    display: flex; }
  #main-search .search-query-content {
    position: relative; }
  #main-search .search-select {
    background-color: #1DA1D4;
    font-size: 0.9rem;
    left: 0;
    position: absolute;
    top: 2rem; }
  #main-search .search-radio-label {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1px;
    padding: 0 0.75rem 0 0.5rem; }
    #main-search .search-radio-label.selected {
      background-color: #6cc8eb; }
    #main-search .search-radio-label.focus {
      box-shadow: inset 0 0 0 3px #ffb81d; }
    #main-search .search-radio-label input:focus {
      outline: none; }
  #main-search .search-query-label {
    color: white;
    height: 2rem;
    left: 0.5rem;
    line-height: 2rem;
    position: absolute; }

.page-header {
  background-color: #dddbd9; }
  .page-header h1 {
    margin: 0; }

.split-page {
  display: flex; }

.pane {
  flex-basis: 25%; }
  .pane label {
    font-weight: bold; }
  .pane label.group {
    font-weight: normal; }

.pane.filters .inner-wrapper {
  padding-right: 2em; }
.pane.filters fieldset {
  border: none;
  margin: 0 0 1rem;
  padding: 0; }
.pane.filters label {
  display: block; }
.pane.filters input[type=text] {
  width: 100%; }
.pane.filters select {
  width: 100%; }

.secondary-navigation {
  list-style: none;
  margin: 0;
  padding: 0; }
  .secondary-navigation li {
    margin-bottom: 0.75rem; }

.main-content {
  flex-basis: 75%; }

section.secondary {
  margin-bottom: 1.5rem; }
  section.secondary h2 {
    margin: 0; }

table.views-table thead th {
  border-bottom: 1px solid #100f0e;
  text-align: left; }
table.views-table th.event-time {
  width: 10%; }
table.views-table th.event-title {
  width: 50%; }
table.views-table th.event-location {
  width: 20%; }
table.views-table th.event-audience {
  width: 20%; }
table.views-table td {
  padding-bottom: 3rem;
  vertical-align: top; }
table.views-table .channel-title {
  color: #1980a9;
  text-transform: uppercase; }
table.views-table .signup-method {
  color: #1980a9; }

footer {
  background-color: #54514A;
  color: white;
  font-size: 0.9rem;
  font-weight: bold; }

footer ul {
  list-style: none;
  margin: 1rem 0 1rem 0;
  padding: 0; }

.copyright {
  background: url("../img/nypl-rev.svg") no-repeat scroll 0px 0px/5rem auto transparent;
  border: none;
  display: block;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  white-space: nowrap; }
  .copyright p {
    padding-top: calc(3rem + 1em); }

.footerLinks {
  display: flex; }
  .footerLinks li {
    flex-basis: 25%; }

/*# sourceMappingURL=styles.css.map */
