@import "measurements";
@import "css3";
@import "microformats-mixins";
@import "media-queries";

@warn "remove magic numbers";

@mixin banner-alert() {
  background-color: $alertcolor;
  padding: 0.8rem 0;
  -webkit-animation: alert 2s linear;
  animation: alert 2s linear;
}

@mixin full-width-wrapper {
  margin: 0 auto;
  max-width: calc(#{$max-width - $general-padding} - (#{$logo-width + $general-padding}));
  padding: $general-padding $general-padding $general-padding ($logo-width + $general-padding);
  position: relative;
  @include clearfix;

  @include media($mobile-breakpoint) {
    padding-left: $general-padding;
  }
}

@mixin column-type($float: left) {
  float: $float;
  margin-bottom: 2rem;
  min-height: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  @include clearfix;
  @include box-sizing(border-box);

  @include media($mobile-breakpoint) {
    float: none;
    padding: 0;
    width: auto;
  }
}

@mixin column-full {
  width: $full-width;
  @include column-type(none);
}

@mixin column-half {
  width: $half;
  @include column-type;
}

@mixin column-one-quarter {
  width: $one-quarter;
  @include column-type;
}

@mixin column-one-third {
  width: $one-third;
  @include column-type;
}

@mixin column-two-thirds {
  width: $two-thirds;
  @include column-type;
}

@mixin column-three-quarters {
  width: $three-quarters;
  @include column-type;
}

@mixin inner-block {
  @warn "deprecated. use row-column pattern instead.";
}
