@import "measurements";
@import "icons";
@import "mixins";
@import "media-queries";

@warn "refactor mixins and remove magic numbers";

@mixin results-summary {
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  @include clearfix;

  .results-count {
    display: inline-block;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }

  a {
    color: $nyplgray;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: super;
  }
}

@mixin results-pagination {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  @include clearfix;

  .page-count, a {
    display: block;
    float: left;
    text-decoration: none;
    width: 35%;
    @include clearfix;

    @include media(screen, $mobile-breakpoint) {
      font-size: 1rem;
    }
  }

  .page-count {
    text-align: center;
    width: 30%;
  }

  a:after {
    display: block;
    font-size: 3rem;
    line-height: 0.9;

    @include media(screen, $mobile-breakpoint) {
      float: none;
    }
  }

  a:first-child:after {
    @extend %nypl-icon-arrow-left;
    float: left;
  }

  a:last-child {
    text-align: right;

    &:after {
      @extend %nypl-icon-arrow-right;
      float: right;
    }
  }

  .next {
  }
}

@mixin views-table {
  display: table;
  border-collapse: collapse;

  tr, .views-table-row {
    border-bottom: 1px solid $nypllightgray;
    display: table-row;
  }

  .views-table-row .views-table-header, thead, th {
    border-bottom: 1px solid $pagecolor;
    text-align: left;
  }

  td, th, .views-table-header, .views-table-cell {
    display: table-cell;
  }

  th, .views-table-header {
    font-weight: bold;
  }

  .views-table-header.event-time {
    width: 20%;
  }

  .views-table-header.event-title {
    width: 40%;
  }

  .views-table-header.event-location {
    width: 20%;
  }

  .views-table-header.event-audience {
    width: 20%;
  }

  .views-table-header.resource-availability {
    width: 25%;
  }

  .views-table-header.resouce-description {
    width: 65%;
  }

  td, .views-table-cell {
    border-bottom: 1px solid $nypllightgray;
    padding: 0.5rem 0.5rem 3rem 0;
    vertical-align: top;
  }

  .channel-title {
    color: $highlightcolor;
    text-transform: uppercase;
  }

  .signup-method {
    color: $highlightcolor;
  }

  .resource-title {
    font-weight: bold;
  }

  &.collapses {
    @include media(screen, $mobile-breakpoint) {
      thead, th, .views-table-header, .views-table-row:first-child {
        display: none;
      }

      td, .views-table-cell {
        display: block;
        float: left;
        margin: 0;
        padding: 1rem 0 1rem 0;
      }

      tr:first-child, .views-table-row:first-child {
        border-top: 1px solid $nypllightgray;
      }

      .event-time, .event-audience, .event-title {
        border: none;
        display: block;
      }

      .event-time {
        width: 20%;
      }

      .event-title, .event-location, .event-audience {
        width: 30%;
      }

      .event-title {
        margin-right: 5%;
        width: 45%;
        max-height: 12rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .event-location {
        border-bottom: none;
        font-weight: bold;
      }

      .event-audience:before {
        content: "For: ";
      }

      .resource-availability {
        width: 25%;
      }

      .resouce-description {
        width: 65%;
      }
    }
  }

}

@mixin location-info {
  border-left: 1rem solid $nypllightgray;
  padding-left: 1rem;
  margin-bottom: 2rem;

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }

  .sub-location-floor-room {
    font-weight: bold;
  }

  .wheelchair-access {
    color: $highlightcolor;
    font-weight: bold;
  }
}

@mixin location-hours {
  position: relative;
  width: 100%;

  th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 16.666%;
  }

  td {
    padding-bottom: 1rem;
  }

  @include media(screen, $mobile-breakpoint) {
    .titles {
      display: none;
    }

    tr {
      border: none;
    }

    td {
      display: block;
      position: relative;
      width: 100%;

      &::before {
        display: block;
        float: left;
        font-weight: bold;
        margin-bottom: 2rem;
        width: 40%;
      }

      &:nth-of-type(1)::before {
        content: "Monday";
      }

      &:nth-of-type(2)::before {
        content: "Tuesday";
      }

      &:nth-of-type(3)::before {
        content: "Wednesday";
      }

      &:nth-of-type(4)::before {
        content: "Thursday";
      }

      &:nth-of-type(5)::before {
        content: "Friday";
      }

      &:nth-of-type(6)::before {
        content: "Saturday";
      }

      &:nth-of-type(7)::before {
        content: "Sunday";
      }
    }

  }
}

@mixin related-links {
  border-top: $related-links-border-width solid $nyplgray;
  padding-top: 2rem;
}
