@import "measurements";
@import "icons";
@import "microformats-mixins";
@import "media-queries";

@warn "refactor mixins and remove magic numbers";

@mixin results-summary {
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  @include clearfix;

  .results-count {
    display: inline-block;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }

  a {
    color: $nyplgray;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: super;
  }
}

@mixin results-pagination {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  @include clearfix;

  .page-count, a {
    display: block;
    float: left;
    text-decoration: none;
    width: 35%;
    @include clearfix;

    @include media($mobile-breakpoint) {
      font-size: 1rem;
    }
  }

  .page-count {
    text-align: center;
    width: 30%;
  }

  a:after {
    display: block;
    font-size: 3rem;
    line-height: 0.9;

    @include media($mobile-breakpoint) {
      float: none;
    }
  }

  a:first-child:after {
    @extend %nypl-icon-arrow-left;
    float: left;
  }

  a:last-child {
    text-align: right;

    &:after {
      @extend %nypl-icon-arrow-right;
      float: right;
    }
  }

  .next {
  }
}

@mixin views-table {
  display: table;
  border-collapse: collapse;

  tr, .views-table-row {
    border-bottom: 1px solid $nypllightgray;
    display: table-row;
  }

  .views-table-row .views-table-header, thead, th {
    border-bottom: 1px solid $pagecolor;
    text-align: left;
  }

  td, th, .views-table-header, .views-table-cell {
    display: table-cell;
  }

  th, .views-table-header {
    font-weight: bold;
  }

  .views-table-header.event-time {
    width: 20%;
  }

  .views-table-header.event-title {
    width: 40%;
  }

  .views-table-header.event-location {
    width: 20%;
  }

  .views-table-header.event-audience {
    width: 20%;
  }

  .views-table-header.resource-availability {
    width: 25%;
  }

  .views-table-header.resouce-description {
    width: 65%;
  }

  td, .views-table-cell {
    border-bottom: 1px solid $nypllightgray;
    padding: 0.5rem 0.5rem 3rem 0;
    vertical-align: top;
  }

  .channel-title {
    color: $highlightcolor;
    text-transform: uppercase;
  }

  .signup-method {
    color: $highlightcolor;
  }

  .resource-title {
    font-weight: bold;
  }

  &.collapses {
    @include media($mobile-breakpoint) {
      thead, th, .views-table-header, .views-table-row:first-child {
        display: none;
      }

      td, .views-table-cell {
        display: block;
        float: left;
        margin: 0;
        padding: 1rem 0 1rem 0;
      }

      tr:first-child, .views-table-row:first-child {
        border-top: 1px solid $nypllightgray;
      }

      .event-time, .event-audience, .event-title {
        border: none;
        display: block;
      }

      .event-time {
        width: 20%;
      }

      .event-title, .event-location, .event-audience {
        width: 30%;
      }

      .event-title {
        margin-right: 5%;
        width: 45%;
        max-height: 12rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .event-location {
        border-bottom: none;
        font-weight: bold;
      }

      .event-audience:before {
        content: "For: ";
      }

      .resource-availability {
        width: 25%;
      }

      .resouce-description {
        width: 65%;
      }
    }
  }

}
