@import "nypl-normalize";
@import "forms";
@import "grid";
@import "header";
@import "tables-results";
@import "footer";

// using the system

.content-wrapper {
  @include full-width-wrapper;
}

#filter-search {
  @include search-form;
}

.quarter {
  @include column-one-quarter;
}

.third {
  @include column-one-third;
}

.two-third {
  @include column-two-thirds;
}

.three-quarter {
  @include column-three-quarters;
}

.inner {
  @include inner-block;
}

.results-summary {
  @include results-summary;
}

.results-pagination {
  @include results-pagination;
}

table, .views-table {
  @include views-table;
}