/* -- Typographix -- */
/* Sans Serif */
$sansSerifStack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Serif */
/* Times New Roman-based stack */
$serifStack: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

// Set the base font sizes, based on font sizes found in _variables.scss
// Define base rules:
$baseFontSize: $basefont;
$lineHeight:1.65;
$baseFontColor: #111;

// Modular Scaling:
// Usage: https://github.com/modularscale/modularscale-sass#usage
// Choose the scalar here:
$ms-ratio: $phi;


// This range gives your two ranges for fluid scaling:
$ms-range:
  1.4 $mobile-breakpoint,
  1.2 $max-width;
