$basefontraw: 16;
$maxwidthraw: 1312;
$basefont: $basefontraw * 1px;
$maxwidthpx: $maxwidthraw * 1px;
$max-width: ($maxwidthraw/$basefontraw) * 1rem;
$logo-width: 5rem;
$logo-height: 3rem;
$focus-width: 3px;

$intermediate-breakpoint: 1092px;
$mobile-breakpoint: 768px;

// colors
$nyplgray: #7B756F;
$nypldarkgray: darken($nyplgray, 40%);
$nypllightgray: lighten($nyplgray, 40%);
$nyplyellow: #FEE24A;
$nyplorange: #ffb81d;
$nyplred: #e32b31;
$nypldarkgreen: #4C842E;
$nypllightgreen: lighten($nypldarkgreen, 20%);
$nyplblue: #1DA1D4;
$nyplbluedark: #1980a9;
$nyplsearchcolor: $nyplgray;
$nyplsearchcolordark: darken($nyplsearchcolor, 10%);
$nyplsearchcolorlight: lighten($nyplsearchcolor, 30%);
$focuscolor: $nyplorange;
$pagecolor: $nypldarkgray;
$pagecolorlight: $nypllightgray;
$pagetextcolor: $nypldarkgray;
$footercolor: #54514A;
$highlightcolor: $nyplbluedark;
$alertcolor: $nyplyellow;

// link colors
$linkcolor: $nyplred;
$linkvisitedcolor: darken($linkcolor, 20%);
$linkhovercolor: lighten($linkcolor, 10%);
$invertedlinkcolor: white;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%);

// import the modular type system
// http://modularscale.com

@import "modular-scale";

// import our typography partial

@import "typography";

// Clear Fixing

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
